{% extends 'admin/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="d-flex justify-content-between  align-items-center ">
    <h2>Payments</h2>
    <button type="button" class="btn btn-outline-primary" id="add-class-btn">
        Add New Payment
    </button>

</div>
<div id="class-table">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Payment Date</th>
                    <th>Payment Method </th>
                    <th>Amount Paid</th>
                    <th>Current Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in payments %}
                <tr>
                    <td> {{item['membername'] }} </td>
                    <td> {{item['payment_date'] }} </td>
                    <td> {{item['payment_method'] }} </td>
                    <td> {{item['amount'] }} </td>
                    <td> {{item['description'] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div id="class-form" style="display: none;">
    <div class="row">
        <div class="col-lg-7 mx-auto shadow-sm p-5">
            <div class="tab-content">
                <div id="nav-tab-card" class="tab-pane fade show active">
                    <div class="msg">{{ msg }}</div>
                    <form role="form" action="{{ url_for('admin_payments_management') }}" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="member_id"></label>
                                    <select class="form-control" id="member_id" name="member_id">
                                        <option value="" selected disabled>Select member</option>
                                        {% for member in members %}
                                        <option value="{{ member.member_id }}">{{ member.membername }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="payment_date"></label>
                                    <input placeholder="Payment Date" class="form-control" type="text"
                                        onfocus="(this.type='date')" onblur="(this.type='text')" id="payment_date"
                                        name="payment_date" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="payment_method"></label>
                                    <input type="text" id="payment_method" name="payment_method"
                                        placeholder="Payment Method" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="amount"></label>
                                    <input type="number" step="0.01" id="amount" name="amount" placeholder="Amount ($)"
                                        class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description"></label>
                                    <textarea name="description" id="description" placeholder="Payment Description"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Confirm
                                </button>
                                <button type="submit" class="btn btn-sm btn-outline-danger"
                                    onclick="window.history.back();">
                                    Cancel
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <!-- End -->

        </div>
    </div>
</div>
<script>
    const addButton = document.getElementById('add-class-btn');
    const classForm = document.getElementById('class-form');
    const classTable = document.getElementById('class-table');

    addButton.addEventListener('click', () => {
        classForm.style.display = 'block'; // Show the form
        classTable.style.display = 'none'; // Show the form

    });
</script>
{% endblock %}